{% include "header.html" %}
<!-- Logo, username, password, remember me X days (see cfg), register -->
<div class="container">
    <div class="row"><div class="col">
        <h1>Login or Register</h1>
        <form action="" method="POST"><!-- TODO: change post url depending on action, OTP to check in backend -->
            <div class="mb-3">
                <label for="auth" class="form-label">Username</label>
                <input type="text" class="form-control form-control-sm" id="auth" />
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control form-control-sm" id="password" />
            </div>
            <div class="mb-3 row"><!-- TODO: hide it when log in -->
                <label for="psw2" class="col-sm-2 col-form-label">Confirm password</label>
                <div class="col-sm-10"><input type="password" class="form-control form-control-sm" id="psw2" name="password2" /></div>
            </div>
            <div class="mb-3 form-check"><!-- TODO: hide it when register -->
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember me for X days/weeks/months</label>
            </div>
            <button type="button" class="btn btn-primary btn-sm" onclick="">Submit</button>
        </form>
    </div><div class="col">
    </div></div>
  </div>
  {% include "footer.html" %}